meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Aspectos técnicos, operativos y administrativos de un sistema de acueducto
meta(meta name="description" content="Se analiza de manera objetiva el proceso de administración y estructura organizacional para el normal funcionamiento de un sistema de acueducto, estableciendo procesos de autogestión según las normas establecidas y los requerimientos de parte de las entidades de vigilancia y control.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")