.container
    .header-ecored
        h1 2. Descripción del servicio público de acueducto
    .jumbotron.bg-white
        .sub-ecored#21.mt-5
            h2 2.1 Usuarios, suscriptores y regulación de tarifas 
        p.mt-5 En Colombia la prestación del servicio público de acueducto por parte de las empresas está reglamentado por la ley 142 de 1994, donde se establecen los términos, condiciones, requisitos técnicos, normativos, relacionados con el diseño, construcción y puesta en marcha del sistema de abastecimiento de agua, actividades que son supervisadas y vigiladas por la Superintendencia de Servicios Públicos Domiciliarios SSPD (Congreso de Colombia, 1994).
        .row.justify-content-center.align-items-center.mt-5
            .col-4.sup-1 
                img.img-a(src="assets/images/pages/ilustraciones/img30.svg").img-fluid 
            .col-4.sup-2
                img.img-a(src="assets/images/pages/ilustraciones/img31.svg").img-fluid                
        .row.justify-content-center.align-items-stretch
            .col-4.mx-2.pt-6.px-4.pb-4.text-card-1     
                h3.text-center #[strong Usuario]
                .hr1
                p.text-center.mt-3 Persona natural o jurídica que se beneficia con la prestación de un servicio público, bien como propietario del inmueble en donde este se presta, o como receptor directo del servicio. A este último usuario se le denomina también consumidor (Superintendencia de Servicios Públicos Domiciliarios, 2020).
            .col-4.mx-2.pt-6.px-4.pb-4.text-card-2
                h3.text-center #[strong Suscriptores del servicio de acueducto]  
                .hr1
                p.text-center.mt-3 #[strong Suscriptor:] persona natural o jurídica con la cual se ha celebrado un contrato de condiciones uniformes de servicios públicos (Superintendencia de Servicios Públicos Domiciliarios, 2020). 
        p.mt-5 Se recomienda tener en cuenta los documentos relacionados en el material complementario, referente a: glosario general y glosario servicios de acueducto, alcantarillado y aseo, para consulta general.
        h2.color1.mt-5 Regulación de tarifas 
        p.mt-5 Quien en su momento estaba constituido como Ministerio de Ambiente, Vivienda y Desarrollo Territorial, puso a disposición la guía 2. Costos y tarifas municipios menores y zonas rurales por medio de la dirección de agua potable, saneamiento básico y ambiental, que tuvo el propósito de dotar a alcaldes, administradores de las entidades prestadoras de servicios públicos domiciliarios de acueducto y alcantarillado, a las unidades departamentales de agua, a las comunidades y a sus organizaciones de base (juntas de acción comunal, asociaciones de usuarios, juntas administradoras, cooperativas de usuarios, administraciones públicas cooperativas, etc.), con una guía de aplicación de la metodología de cálculo de costos y tarifas de los servicios de acueducto y alcantarillado para aquellos entes prestadores que cuenten con menos de 2.500 suscriptores, que por lo general operan en municipios menores y zonas rurales del país (Ministerio de Ambiente, Vivienda y Desarrollo Territorial, 2005).
        p Adicionalmente, la Comisión de Regulación de Agua Potable y Saneamiento Básico (CRA) a través de la metodología diseñada, pretende facilitar la comprensión, aplicación y control sobre costos y tarifas, para ser implementados por las asociaciones comunitarias, municipios menores en el proceso de recaudo.
        p Dicha metodología establece el procedimiento para sistemas de acueducto con micro medición instalada, y el procedimiento para sistemas de acueducto sin micro medición, al alcance de los beneficiarios del suministro de agua. 
        .jumbotron.color3
            p Para consulta general se recomienda tener en cuenta el documento: marco tarifario de acueducto y alcantarillado para pequeños prestadores (Comisión de regulación de agua potable y saneamiento básico, 2018).
            .hr-green
        .row.justify-content-center.align-items-center.mt-5
            .col-8 
            a(href="media/documentos/A5_Marco_tarifario.pdf" target="_blank").media-link      
                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon
                .media-link-title
                    p #[strong Anexo 3]. #[br] Marco tarifario
        h2.mt-5.color1 Metodología de costos y tarifas para zonas rurales y pequeñas municipalidades
        p.mt-5 Factores por considerar en el cálculo de costos y tarifas:
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img33.svg").img-fluid
                        p.card__copy 
                            h3 Micromedición
                            span 
                                |  Existencia de micromedición. 
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img34.svg").img-fluid
                        p.card__copy 
                            h3 Inversión
                            span 
                                |  Información acerca de las inversiones realizadas y de las necesidades de inversión futura.
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img35.svg").img-fluid
                        p.card__copy 
                            h3 Estratificación
                            span 
                                |  Existencia de estratificación socioeconómica y su aceptación por parte de los usuarios. 
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img36.svg").img-fluid
                        p.card__copy 
                            h3 Cultura de pago
                            span 
                                |  Cultura de pago al interior de las comunidades.
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img37.svg").img-fluid
                        p.card__copy 
                            h3 Calidad en el servicio
                            span 
                                |  Calidad del servicio en cuanto a cantidad, frecuencia y calidad del agua.
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img38.svg").img-fluid
                        p.card__copy 
                            h3 Identificación de intereses
                            span 
                                |  Identificación de los distintos intereses y actitudes al interior de las comunidades para que el cobro del servicio de acueducto a través de la tarifa no se convierta en un factor de presiones políticas.
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img39.svg").img-fluid
                        p.card__copy 
                            h3 Costumbres frente al uso del agua
                            span 
                                |  Modificación de usos y costumbres frente al uso del agua (todavía en muchas regiones del país el agua es considerada como un recurso inagotable).                                                                                                                                                                     
        .jumbotron.color3
            p Para consulta general se recomienda tener en cuenta el documento.
            .hr-green
        .row.justify-content-center.align-items-center.mt-5
            .col-8 
            a(href="media/documentos/A6_Costos_y_tarifas.pdf" target="_blank").media-link      
                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon
                .media-link-title
                    p #[strong Anexo 6]. #[br] Costos y tarifas
        .sub-ecored#22.mt-5
            h2 2.2 Entes de vigilancia y control 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img40.jpg", alt="").img-fluid  
        p.mt-5 Los entes de vigilancia y control permiten orientar la prestación del servicio de acueducto en términos de calidad, cantidad, cobertura y continuidad, todo con el propósito que los usuarios reciban un servicio adecuado y las empresas prestadoras cumplan los requerimientos para su operatividad y sostenibilidad. No obstante, se conoce que, debido a las variables socioeconómicas, culturales, demográficas, tecnológicas propias de las dinámicas de los territorios, estas regulaciones no siempre se cumplen debido a las particularidades de cada uno de los sistemas y adicionando a esto las variables normativas, puesto que existen diferencias en la capacidad instalada, infraestructura, tecnología, regulación de tarifas, estructura organizacional, y por ende no cuentan con las mismas posibilidades de operación.
        p A continuación, se indican los entes de vigilancia y control: 
        .caja10
            .row.justify-content-center.align-items-center.mt-5
                .col-8         
                    .list.mt-3.ml-5
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/img41.svg", alt="")
                        .list__txt 
                            p Superintendencia de servicios públicos domiciliarios.
                    .list.mt-3.ml-5
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/img41.svg", alt="")
                        .list__txt 
                            p La Comisión de Regulación de Agua Potable – CRA.
                    .list.mt-3.ml-5
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/img41.svg", alt="")
                        .list__txt 
                            p Ministerio de Ambiente y Desarrollo Sostenible.
                    .list.mt-3.ml-5
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/img41.svg", alt="")
                        .list__txt 
                            p Corporaciones Autónomas Regionales.
                    .list.mt-3.ml-5
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/img41.svg", alt="")
                        .list__txt 
                            p Instituto Nacional de Salud.
                    .list.mt-3.ml-5
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/img41.svg", alt="")
                        .list__txt 
                            p Direcciones Departamentales Distritales y Municipales de Salud.
                    .list.mt-3.ml-5
                        .list__item
                            .list__item__icon
                                img(src="assets/images/pages/ilustraciones/img41.svg", alt="")
                        .list__txt 
                            p Ministerio de Salud y Protección Social.
                .col-4
                    img.img-a.mt-5(src="assets/images/pages/ilustraciones/img42.svg", alt="").img-fluid      
        .jumbotron.color3.mt-5
            .row.justify-content-center.align-items-center.mt-5
                .col-5
                    p Finalmente, le invitamos a revisar la lista de los entes de vigilancia y control con su respectiva descripción y sitio web para ampliar la información.
                .col-1
                    a(href="media/documentos/A3_Entes_de_Vigilancia_y_Control.pdf" target="_blank") 
                        img(src="assets/images/pages/ilustraciones/pdf.svg", alt="")
                .col-3
                    a(href="media/documentos/A3_Entes_de_Vigilancia_y_Control.pdf" target="_blank")
                        .media-link-title
                            p #[strong Anexo 3]. #[br] Entes de Vigilancia y Control               
        section.mt-5