include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Chiavenato. (2015). Administración en los nuevos tiempos")
        +referenciaItem("Chiavenato, I. (2020). Gestión del talento humano. McGraw-Hill Interamericana.","http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=9350")
        +referenciaItem("Comisión de regulación de agua potable y saneamiento básico. (2018). Marco tarifario para acueducto y alcantarillado para pequeños prestadores.","https://www.cra.gov.co/documents/Revista20ResCRA825-2017.pdf")
        +referenciaItem("Congreso de Colombia. Ley 142 de 1994. (11 de julio de 1994). Por la cual se establece el régimen de los servicios públicos domiciliarios y se dictan otras disposiciones.","https://www.minenergia.gov.co/documents/10180/23517/21435-3670.pdf")
        +referenciaItem("Departamento Administrativo Nacional de Estadística DANE. (2020). Estratificación socioeconómica para servicios públicos domiciliarios.","https://www.dane.gov.co/index.php/servicios-al-ciudadano/servicios-informacion/estratificacion-socioeconomica")
        +referenciaItem("Elliot, J. (1951). The changing culture of factory. Tavistock Publications")
        +referenciaItem("Hintze, J. (2007). Modelos organizativos y redes institucionales.","http://www.top.org.ar/ecgp/FullText/000020/20227.pdf")
        +referenciaItem("Legarda L., Viveros M. (1996). La importancia de la hidrología en el manejo de cuencas hidrográficas. Fundación Dialnet. Revista de ciencias agrícolas.","https://dialnet.unirioja.es/servlet/articulo?codigo=6191602")
        +referenciaItem("Marín, R. (1985). El uso del agua en Colombia.")
        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible. (2018). Guía Metodológica para la formulación de los planes de manejo ambiental de microcuencas.","http://www.andi.com.co/Uploads/GU%C3%8DA%20PMA%20de%20Microcuenca.pdf")
        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible. (2020). Gestión integral del recurso hídrico.","https://www.minambiente.gov.co/index.php/gestion-integral-del-recurso-hidrico")
        +referenciaItem("Ministerio de Ambiente, Vivienda y Desarrollo Territorial. (2005). Costos y tarifas municipios menores y zonas rurales.","https://www.cra.gov.co/documents/Revista16.pdf")
        +referenciaItem("Ministerio de Ambiente, Vivienda y Desarrollo Territorial. (2010). Política nacional para la gestión integral del recurso hídrico.","https://www.minambiente.gov.co/index.php/gestion-integral-del-recurso-hidrico/direccion-integral-de-recurso-hidrico/politica-nacional-para-la-gestion-integral-del-recurso-hidrico")
        +referenciaItem("Ministerio de Desarrollo Económico Dirección de Servicios Públicos Domiciliarios., Servicio Nacional de Aprendizaje –SENA. (1999). Fontanería municipal- Programa de capacitación y certificación del sector de agua potable y saneamiento básico.")
        +referenciaItem("Ministerio de Salud y Protección Social. (14 de febrero de 2017). Resolución 330 de 2017. Por el cual se adopta el procedimiento técnico – científico y participativo para la determinación de los servicios y tecnologías que no podrán ser financiados con recursos públicos asignados a salud y se establecen otras disposiciones.","Https://Www.Minsalud.Gov.Co/Normatividad_Nuevo/Resoluci%C3%B3n%200330%20de%202017.Pdf.")
        +referenciaItem("Ministerio de Vivienda, Ciudad y Territorio de Colombia. (2020). Portal Minvivienda Reglamento Técnico del Sector.","http://www.minvivienda.gov.co/viceministerios/viceministerio-de-agua/reglamento-tecnico-del-sector")
        +referenciaItem("Organización de las Naciones Unidas para la Alimentación y la Agricultura FAO. (s.f.). Apoyo a la rehabilitación productiva y el manejo sostenible de microcuencas en municipios de Ahuachapán a consecuencia de la tormenta Stan y la erupción del volcán Ilamatepec.","http://www.fao.org/climatechange/30329-07fbead2365b50c707fe5ed283868f23d.pdf")
        +referenciaItem("Perlstein, S. (1994). Catalyst for growth. Business Ethics")
        +referenciaItem("Ramírez, C. (2016). Guía técnica acueducto y alcantarillado. Universidad Católica de Colombia.","https://repository.ucatolica.edu.co/bitstream/10983/14128/1/Guia%20Tecnica%20Acueducto.pdf")
        +referenciaItem("Schein, E. H. (1992). Organizational Culture and Leadership (p. 2). Jossey Bass")
        +referenciaItem("Sepúlveda, S. (2008).  Metodología para estimar el nivel de desarrollo sostenible de territorios [E-book]. Instituto Interamericano de Cooperación para la Agricultura (ICA). Sede Central.","http://repiica.iica.int/docs/B0664e/B0664e.pdf")
        +referenciaItem("Superintendencia de Servicios Públicos Domiciliarios. (2020). Glosario General.","https://www.superservicios.gov.co/sites/default/archivos/archivos%20varios/glosario-general-jul-14.pdf")
        +referenciaItem("Superintendencia de Servicios Públicos Domiciliarios. (2020). Glosario de términos técnicos de los servicios públicos de acueducto, alcantarillado y aseo.","https://www.superservicios.gov.co/sites/default/archivos/archivos%20varios/glosariodelosserviciosdeacueductoalcantarilladoyaseo.pdf")
        +referenciaItem("Universidad Católica Boliviana San Pablo Bolivia. (2007). Origen y Desarrollo de la Administración. Perspectivas. Perspectivas.","https://docplayer.es/48588807-Perspectivas-issn-universidad-catolica-boliviana-san-pablo-bolivia.html")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            