include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Aplicación de procesos de autogestión en acueductos comunitarios
        meta(meta name="description" content="Ruta de aprendizaje programa Aplicación de procesos de autogestión en acueductos comunitarios.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Aplicación de procesos de autogestión en acueductos comunitarios
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Aplicación de procesos de autogestión en acueductos comunitarios
                                        li 
                                            span #[strong Código:] 13410011
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] conectividad a internet y dominio básico de las TIC

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.svg").curso-imagen         


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 El recurso hídrico representa gran valor, de acuerdo con la Organización Mundial de la Salud - OMS aproximadamente un 2,5% de toda el agua de la tierra es dulce, y una buena parte de ella está fuera de nuestro alcance. Es por esta razón, que la gestión de este valioso recurso es un proceso que requiere ser fortalecido para garantizar así el acceso al mismo de manera equitativa para los usuarios en términos de calidad, cantidad, continuidad y cobertura, teniendo en cuenta para ello las actividades productivas y de consumo humano, considerando además su conservación en el contexto del desarrollo sostenible, el cual debe tener relevancia local y globalmente. 

                p Para este propósito la efectiva administración de los acueductos atomizados registrados y menores   desempeña un papel fundamental, puesto que de éstos dependerá el cumplimiento normativo que permita su adecuado desempeño atendiendo a los parámetros normativos orientados por los entes de vigilancia y control.


                p Colombia tiene por objetivo a través del Gobierno Nacional y las entidades adscritas al sector de agua potable y saneamiento básico, fortalecer los procesos de gestión comunitaria relacionada con el suministro de agua para consumo humano, donde los diferentes grupos y asociaciones reconozcan el cumplimiento de la normativa relacionada con la gestión del recurso hídrico. Es en este sentido que la normativa existente sobre el manejo del recurso hídrico toma relevancia, siendo indispensable divulgarla y socializarla con los actores y beneficiarios del suministro, conociendo las fortalezas y amenazas.

                p En este sentido, el programa de formación complementario Aplicación de procesos de autogestión  en acueductos comunitarios, en su modalidad virtual, se crea con el propósito de  contribuir al  fortalecimiento en la organización y administración de la prestación del servicio de suministro de agua potable para consumo humano a las comunidades urbanas y rurales, mediante herramientas que contribuyan con la aplicación gradual de los procesos y procedimientos  relacionados con la gestión del recurso hídrico, así como la consideración de las fortalezas y oportunidades para el aprovechamiento óptimo de los recursos del orden nacional y local, mejorando las condiciones de disponibilidad y calidad del agua.
 

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 Un sistema de abastecimiento de agua se constituye como una organización social dada su finalidad de brindar un recurso vital a la comunidad, y a su vez son los responsables de administrar el recurso hídrico y promover su conservación, la de otras especies y el abastecimiento de futuras generaciones, en donde, además existen diversos intereses de los actores para evaluar los cambios en la capacidad de distribución del agua (Aguirre, 2018).  
                
                p En este sentido, la administración del recurso se convierte en una estrategia comunitaria de autogestión social y de organización, cuyo propósito es la prestación del servicio de manera adecuada, incluyendo el mejoramiento de la infraestructura asociada al sistema de suministro y cumplimiento de requisitos normativos, acorde a la Ley 142 1994 la cual establece el régimen de los servicios públicos domiciliarios haciendo referencia a la competencia de la Nación para la prestación de los servicios públicos. 
                
                p Según la Superintendencia de Servicios Públicos Domiciliarios (2018), potencialmente existen 32.205 prestadores de servicios públicos ubicados en el área rural donde solo se ha logrado identificar 1.320 prestadores inscritos ante el Registro Único de Prestadores de Servicios Públicos –RUPS. El 99% son organizaciones autorizadas para la zona rural.    
                
                p Por lo anterior, la población a la cual va dirigido el programa complementario comprende las asociaciones de usuarios o suscriptores, las juntas de acción comunal u otras figuras encargadas del manejo de acueductos en zonas urbanas y rurales, formalizadas como personas jurídicas sin ánimo de lucro o empresas comunitarias de carácter asociativo que consisten en una pluralidad de personas cuya voluntad es decisiva para la configuración de sus relaciones jurídicas y que de común acuerdo establecen y realizan un fin colectivo.  
                
                p Como hecho particular se detecta que el programa en mención tiene un impacto positivo considerado su aplicación en el ámbito nacional para contribuir de manera objetiva al mejoramiento administrativo y organizacional de dichas asociaciones, las cuales debieran estar registradas bajo un régimen normativo diferente entendiendo sus particularidades, aspecto que facilitaría la realización de las actividades enfocadas a la prestación del servicio.  
                
                p Dado los actores que administran los acueductos comunitarios, los usuarios beneficiarios del programa tienen la oportunidad de ser miembros activos en los procesos de autogestión, relación institucional, gestión para la sostenibilidad del recurso, fortalecimiento organizacional y capacidad asociativa.  
                
                p Por último, el programa orienta las estrategias de aplicación pertinentes a la prestación del servicio ante las instituciones públicas, contribuyendo de esta manera al fortalecimiento de las capacidades técnicas, financieras y administrativas de los acueductos comunitarios, la cual es una necesidad imperante entendiendo la importancia de acceder al recurso hídrico, tanto para el consumo humano, así como para el desarrollo de actividades productivas.  



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Asociaciones de usuarios o suscriptores, las juntas de acción comunal u otras figuras encargadas del manejo de acueductos en zonas urbanas y rurales, formalizadas como personas jurídicas sin ánimo de lucro o empresas comunitarias de carácter asociativo que consisten en una pluralidad de personas cuya voluntad es decisiva para la configuración de sus relaciones jurídicas y que de común acuerdo establecen y realizan un fin colectivo.  


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p La estrategia metodológica estimulará el trabajo colaborativo con base a estudios de caso; centrada en la construcción de autonomía para garantizar la calidad de la educación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que favorecen el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, estimulará de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





